/*************** NAV STYLE ***************/
nav ul{
    position: fixed;
    width: 100%;
}
nav li{
    font-size: xx-large;
    list-style-type:none;
    font-family:"Lexend Giga", serif;
}
nav a{
    color: mediumaquamarine;
    text-decoration: none;
    background-color: rgb(114, 92, 114) ;
}
nav a:hover{
    color:rgb(96, 225, 225);
    background-color: rgb(95, 70, 95);
}
.current-page-block{
    padding-left: 30px;
}
.current-page-button{
    color:rgb(0, 255, 255);
    background-color: rgb(93, 64, 93);
}
/*************** bbbb ***************/